<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">

  <title>All blockEntities</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">
  <h1>List of all blockEntities of the house:</h1>
  <table class="table table-hover">
    <thead class="thead-dark">
    <tr>
      <td>ID</td>
      <td>Number</td>
      <td>Flats</td>
      <td></td>
      <td></td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="blockEntity : ${blockEntities}">
      <td th:text="${blockEntity.id}"/>
      <td th:text="${blockEntity.number}"/>
      <td th:text="${blockEntity.flatEntities}"/>
      <td><a class="btn btn-secondary" th:href="@{'/flatEntities/' + ${blockEntity.id}}">Flats</a></td>
      <!--
      <td><a class="btn btn-secondary" th:href="@{'/products/delete/' + ${product.id}}">Owners</a></td>
      -->
    </tr>
    </tbody>
  </table>
</div>
</body>

</html>